/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.divTable{
  display:table;
  width:80%; 
  background-color:#eee;
  border:1px solid  #666666;
  border-spacing:5px;
}
.divRow{
  display:table-row;
  width:auto;
  clear:both;
    background-color:#ccc;
}
.divCell{
  float:left;
  display:table-column;
/*  width:225px;*/
border-left: 2px solid #fff;
}
#search{float: right;}
#facets {
float: right;
margin-right: 126px;}
.headRow{text-align: center;}
.highlite_text{background-color: red;
font-size: 19px;}
#id{width: 50px!important;}
#title{width: 300px!important;}
#content{width: 700px!important;}
#action_items{width: 50px!important;}
